
    <div class="column">
        <img src="https://play-lh.googleusercontent.com/ZdokVctmL-GG-UOLQexo9QLkkdFKnd_pEDweSuV6n4Q26cOQuXoeMaGxxmZt7XUrc48=w240-h480-rw" width="300" style="align-items: center; align-content: center;" alt="">
    </div>
    <div class="column">
        <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; align-content: center; align-items: center;">Od dnešního dne 20.9.2024 jsou stránky idnes.cz spoplatněny.</h1>
        <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; align-content: center; align-items: center;">Pro odemknutí obsahu pošlete čásku 1000 kč na účet 48462948454</h1>
        <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; align-content: center; align-items: center;">Po zaplacení dostanete přeplatné po dobu jednoho roku!</h1>
    </div>
    